main.nb.html

**/.DS_Store

# Remove outputs except the folder out/20240923-test/computations
out/*
!out/20260215_141155-on_SProd/
out/20260215_141155-on_SProd/png/*
out/20260215_141155-on_SProd/pdf/figAdd*
!out/20260215_143248-on_Recruitment/
out/20260215_143248-on_Recruitment/png/*
out/20260215_143248-on_Recruitment/pdf/figAdd*
!out/comparison_with_pierre_et_al_2018.csv

comparison Pierre et al/*

data/*
!data/timeseries_clean-v4.66.csv
!data/timeseries_clean-v4.66.RData
!data/SST_on_fishstocks-1e_yearly_had_sst.csv
!data/traits/
data/traits/traits_subset-traj_SProd_classif_traits.csv

utils/*
!utils/00-prepare_data.R
!utils/plots_map.R
!utils/plots_timeseries.R

main-previous version*
Rshiny_app.R
draft*

params/

*.Rproj
.lintr


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
